.popup__close {
  margin: 0 0 8px 473px;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url(../../../images/Close-Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 550px) {
  .popup__close {
    margin: 0 0 16px 260px;
    width: 20px;
    height: 20px;
  }
}
